.bookmarked-page-layout{
    display: flex;
    flex-flow: row;
    gap: 2rem;
    /* margin: 0; */
    /* align-items: center;
    justify-content: center; */
}

.bookmarked-main-content{
    display: flex;
    flex-flow: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.bookmarked-movied-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    row-gap: 0.5rem;
}

.bookmarked-movied-grid-tablet{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}