.home-page-layout {
    display: flex;
    flex-flow: row;
    /* align-items: center; */
    justify-content: center;
    gap: 2rem;

}

.main-content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-left: 0.5rem; */
    overflow-x: hidden;
    min-width: 0;
}