.home-page-layout {
    display: flex;
    flex-flow: row;
    /* align-items: flex-start; */
    justify-content: flex-start;
    gap: 2rem;
    /* margin-top: 1rem; */
}

.main-content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-left: 0.5rem; */
    overflow-x: hidden;
    /* min-width: 100%; */
}

.search-results{
    /* height: 10rem; */
    /* width: 100%; */
}