.movie-page-layout {
    display: flex;
    flex-flow: row;
    gap: 2rem;
}

.movie-page-small{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-part-movies{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-left: 0.5rem; */
    overflow-x: hidden;
    min-width: 0;
}

.main-part-small{
    width: 95%;;
}

.movies-grid-movies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--grid-gap-pc);
    row-gap: 0.5rem;
}

.movies-grid-movies-tablet{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--grid-gap-table);
    row-gap: 0.5rem;
}

.phone-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--grid-gap-phone);
    row-gap: 0.5rem;
}