h4{
    text-align: left;
}

.recommendation-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--grid-gap-pc);
    row-gap: 0.5rem;
}

.recommendation-grid>* {
    min-width: 0;
}

.tablet-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--grid-gap-table);
    row-gap: 0.5rem;
}