:root{
    --border-radius: 15px;
}

.recom-card{
    width:15rem;
    border-radius: var(--border-radius);
    position: relative;
}

.recom-card img{
    width: 100%;
    border-radius: var(--border-radius);
}

.phone{
    width: 10rem;
    display: flex;
    flex-flow: column;
}

.rec-movie-subdata{
    display: flex;
    flex-flow: row;
    gap: 1rem;
    /* column-gap: 2rem; */
    /* row-gap: 19rem; */
}

.rec-movie-subdata p{
    margin: 0;
    font-size: 0.9rem;
    margin-left: 0.5rem;
    color: rgba(128, 128, 128, 0.9);
}

.movie-name{
    margin:0rem 0.5rem 0.5rem 0.5rem;
}

.category-paragraph{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.category-paragraph img{
    width: 0.75rem;
    border-radius: 0px;
}

.bookmark-container img{
    width: 1rem;
    border-radius: 0px;
}

.bookmark-container{
    display: flex;
    flex-flow:column;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 5%;
    right: 4%;
}

.bookmark-container:hover{
    cursor: pointer;
}

.recom-card{
    user-select: none;
    /* pointer-events: none; */
}


.recom-card:hover{
    cursor: pointer;
}