.search-bar{
    display: flex;
    flex-flow: row;
    /* justify-content: center; */
    align-items: center;
    width: 20rem;
    gap: 0.5rem;
}

.search-bar input{
    background-color: transparent;
    border: 0px;
    height: 10px;
    width: 10rem;
}

.custom-input{
    position: relative;;
}

.custom-input input{
    position: absolute;
    opacity: 0;
}

.custom-input p{
    color: grey;
}

.blinking-input{
    color: grey;
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}