:root{
    --border-radius: 15px;
}

.card{
    width: 22rem;
    /* height: 20rem; */
    /* border: 1px solid black; */
    border-radius: var(--border-radius);
    position: relative;
}

.card img{
    width: 100%;
    width: 22rem;
    border-radius: var(--border-radius);
}

.movie-data{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-flow: column;
}

.movie-subdata{
    display: flex;
    flex-flow: row;
    gap: 1rem;
}

.movie-name{
    margin:0rem 0.5rem 0.5rem 0.5rem;
}

.category-paragraph{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.category-paragraph img{
    width: 1rem;
    border-radius: 0px;
}

.bookmark-container img{
    width: 1rem;
    border-radius: 0px;
}

.bookmark-container{
    display: flex;
    flex-flow:column;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 5%;
    right: 4%;
}

.bookmark-container:hover{
    cursor: pointer;
}
