:root{
    --border-radius: 15px;
}

.trending-carousel{
    width: 50%;
    display: flex;
    flex-flow: row;
    gap: 2rem;
    overflow-x: auto;
    overflow-y: hidden;
}

.card{
    width: 25rem;
    border: 1px solid black;
    border-radius: var(--border-radius);
    position: relative;
}

.card img{
    width: 100%;
    border-radius: var(--border-radius);
}

.movie-data{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-flow: column;
}

.movie-subdata{
    display: flex;
    flex-flow: row;
    gap: 1rem;
}

.movie-name{
    margin:0rem 0.5rem 0.5rem 0.5rem;
}

.category-paragraph{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.category-paragraph img{
    width: 1rem;
    border-radius: 0px;
}