:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: rgb(16, 20, 30);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* variables */
  --light-blue: rgb(22, 29, 47);

  --grid-gap-pc: 2rem;
  --grid-gap-table: 1.5rem;
  --grid-gap-phone: 1rem;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  /* margin-bottom: 1px; */
  min-width: 320px;
  min-height: 100vh;

  overflow-x: hidden;
}